$backgroundColor: #ff68c0;
$footerfont: Georgia, Serif;
.footer {
    background-color: $backgroundColor;
    position:sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    footer {
        background-color: $backgroundColor;
        text-align: center;
        font-family: $footerfont;
        color: rgb(40, 58, 73);
    }
}